.cartao {
    display: flex;
    position: relative;
    background: #393e46;
    height: 250px;
    width: 250px;
    color: white;
    margin-left: 20px;
    border-radius: 10px;
    padding: 0px 0px;
    margin-top: 20px;
    cursor: pointer;
}

.titulo{
    padding: 20px;
    position: absolute;
    font-size: 17px;
    text-align: center;
}
.cartao:hover{
    display: flex;
    position: relative;
    background: #393e46;
    height: 250px;
    width: 250px;
    color: white;
    margin-left: 20px;
    border-radius: 10px;
    padding: 0px 0px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
}

.imagem{
    border-radius: 10px;
    opacity: 0.5;
}

